<mat-toolbar color="primary">
  <button (click)="this.drawer.toogle()" mat-button>
    <mat-icon>menu</mat-icon>
  </button>
  <h1>
    <a class="app-title" [routerLink]="['/']">
      {{ applicationName }}
    </a>
  </h1>
  <span class="fill-remaining-space"></span>
  <button class="box-user" mat-button>
    <img class="img-profile" src="assets/img/default_profile.png" />
    <span>{{ currentUser.firstName }}</span>
  </button>
  <button 
    title="Sair"
    (click)="logout()"
    mat-icon-button>
    <mat-icon>exit_to_app</mat-icon>
  </button>
</mat-toolbar>

<app-drawer></app-drawer>