/* You can add global styles to this file, and also import other style files */
@import "~material-design-icons/iconfont/material-icons.css";

@import '~@angular/material/theming';

@import '~bootstrap/dist/css/bootstrap.min.css';

@import "~primeng/resources/themes/nova-light/theme.css";
@import "~primeicons/primeicons.css";
@import "~primeng/resources/primeng.min.css";

@include mat-core();
$primary: mat-palette($mat-indigo);
$accent: mat-palette($mat-pink, A200, A100, A400);
$warn: mat-palette($mat-red);
$theme: mat-light-theme($primary, $accent, $warn); // Or mat-dark-theme

@include angular-material-theme($theme);

body {
  margin: 0;
  padding: 0;
}